node_modules/


#backend
backend/build/
.env
out/
/.idea/
backend.tar.gz
0001-edit-WebSocketConfig.patch



.vscode/
__pycache__/
*.html
*.pyc

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.gradle/
backend/.gradle/
ai-server/core/chroma_store/**/*.bin

