# 로컬 전용 DB 설정 파일 무시
src/main/resources/application_2nd.properties

# IntelliJ IDEA 프로젝트 파일들 무시
.idea/

# 빌드 아티팩트 파일들 무시
out/

# 프로젝트의 빌드 관련 파일들
*.iml
*.class
*.propertie


backend.tar.gz
gradlew
gradlew.bat
HELP.md
.gradle
build/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

Modam.tar.gz